.pageContainer {
  //   min-height: 100dvh;
  max-width: 1200px;
  margin: 0 auto;
  //   margin-top: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
  div {
    flex: 1;
  }
}
