.pageContainer {
  //   margin-top: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 7rem;
  div {
    flex: 1;
  }
  background-color: black;

  .content {
    min-height: 100dvh;
    max-width: 1200px;
    margin: 0 auto;
  }
}
