// styles/Layout.module.scss
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  width: 100%;
  gap: 1rem;
}

.navLink {
  // margin: 0 15px;
  font-size: 1rem;
  color: #666;
  text-decoration: none;
  transition: color 0.3s ease;
  a {
    text-decoration: none;
  }
  &:hover {
    color: #000;
  }
}

.footer {
  text-align: center;
  padding: 20px 0;
  font-size: 0.875rem;
  color: #999;
  margin-top: 20px;
}
